body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @include mq('mob') {
    width: 480px;
  }

  @include mq('tab') {
    width: 768px;
    padding: 0 32px;
  }
  @include mq('desk') {
    width: 1280px;
    padding: 0 16px;
  }
}

.section {
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  @include mq('tab') {
    font-size: 42px;
    line-height: 1.17;
  }
}
.border:hover,
.border:focus{
  border-color: var( --button-green-color);
}
.item-activ:hover,
.item-activ:focus{
  color: var(--button-green-color);
}
.button:hover{
  fill: var(--border-button-color);
}