body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 32px;

  @include mq('mob') {
    width: 480px;
  }

  @include mq('tab') {
    width: 768px;
    padding: 0 32px;
  }

  @include mq('desk') {
    width: 1280px;
    padding: 0 16px;
  }
}

.section {
}
