@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --button-green-color: #BBF330;
  --border-button-color: #7EB101;
  --button-hover-color: #B5FF00;
  --secondary-background-color: #FFE550;
  --primary-text-color: #2C2C2C;
  --primary-background-color: #FEFEFE;
  --shadow-fruit-color: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
  --cubic-bezer: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.lists {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 320px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
  }
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
}

.hero {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
@media screen and (min-width: 1280px) {
  .hero {
    margin-top: 0;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  max-width: 280px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    line-height: 1.2;
    max-width: 537px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 48px;
    max-width: 502px;
  }
}

.hero__pretitle {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 266px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__pretitle {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__pretitle {
    max-width: 502px;
  }
}

.hero__btn {
  width: 98px;
  height: 32px;
  background-color: var(--button-green-color);
}

.hero__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__list {
    display: flex;
  }
}

.hero__item {
  border: 14px solid #FFE550;
  border-radius: 148px;
}

.subscribe__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
  }
}
.subscribe__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 40px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .subscribe__text {
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 24px;
  }
}
.form__input {
  box-sizing: border-box;
  width: 279px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #FFE550;
  border-radius: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form__input {
    margin-right: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .form__input {
    margin-right: 32px;
  }
}
textarea.form__input {
  resize: none;
  box-sizing: border-box;
  padding: 12px;
}

.subscribe__btn {
  width: 98px;
  height: 42px;
  background-color: var(--button-green-color);
}

@media screen and (min-width: 1280px) {
  .subscribe__btn {
    transform: translateY(-85%);
  }
}
.subscribe__img {
  width: 280px;
  height: 78px;
  transform: translateY(-100%);
}

@media screen and (min-width: 768px) {
  .subscribe__img {
    width: 281px;
    height: 136px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribe__img {
    width: 608px;
    height: 266px;
    float: right;
    transform: translateY(-100%);
  }
}/*# sourceMappingURL=index.css.map */