////////// Utils
@import './utils/variables';
@import './utils/utils';
@import './utils/mixins';

////////// Base style
@import './base/common';
@import './base/buttons';

////////// Layouts
@import './layouts/header';
@import'./components/modall';
@import './layouts/hero';
@import './layouts/offerings';
@import './layouts/favorites';
@import './layouts/customer';
@import './layouts/subscribe';
@import './layouts/footer';
@import'./components/modall';
