:root {
  //////////////Color
--button-green-color: #BBF330;
--border-button-color: #7EB101;
--button-hover-color: #B5FF00;
--secondary-background-color: #FFE550;
--primary-text-color: #2C2C2C;
--primary-background-color: #ffffff;
--footer-background-color: #FEFEFE;
--shadow-fruit-color: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
--border-primary-color: #FFE550;
  //////////////Fonts

  //////////////cubic-bezer
  --cubic-bezer: cubic-bezier(0.4, 0, 0.2, 1);
}


