<section class="customers">
  <div class="container">
    <h2 id="customers-say" class="customers__title">What our Customers Say</h2>
    <p class="customers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list lists">
      <li class="customers__item">
        <svg width="101" height="16" class="customers__icon">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__about">
          <img
            srcset="
              ./images/customers/icon-1.jpg    1x,
              ./images/customers/icon-1@2x.jpg 2x
            "
            src="./images/customers/icon-1.jpg"
            alt="Customer photo"
            class="customers__photo"
          />
          <div class="customers__info">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__who">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <svg width="101" height="16" class="customers__icon">
          <use href="./images/icons.svg#icon-stars"></use>
        </svg>
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__about">
          <img
            srcset="
              ./images/customers/icon-2.jpg    1x,
              ./images/customers/icon-2@2x.jpg 2x
            "
            src="./images/customers/icon-2.jpg"
            alt="Customer photo"
            class="customers__photo"
          />
          <div class="customers__info">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__who">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
