<!--Favorites-->
<section class="favorites">
  <div class="container">
    <h2 id="favorites" class="favorites__title section-title">
      Some of Our Favorites
    </h2>
    <p class="favorites__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list lists">
      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/gamburger-mobile.png     280w,
              ./images/favorites/gamburger-mobile@2x.png  560w,
              ./images/favorites/gamburger-tablet.png     336w,
              ./images/favorites/gamburger-tablet@2x.png  672w,
              ./images/favorites/gamburger-desktop.png    395w,
              ./images/favorites/gamburger-desktop@2x.png 790w
            "
            sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, (min-width: 480px) 280px, 100vw "
            src="./images/favorites/gamburger-mobile.png"
            alt="Гамбургер"
          />
        </div>
      </li>

      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/pasta-mobile.png     280w,
              ./images/favorites/pasta-mobile@2x.png  560w,
              ./images/favorites/pasta-tablet.png     336w,
              ./images/favorites/pasta-tablet@2x.png  672w,
              ./images/favorites/pasta-desktop.png    395w,
              ./images/favorites/pasta-desktop@2x.png 790w
              " sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, (min-width: 480px) 280px, 100vw "
            src="./images/favorites/pasta-mobile.png" alt="Паста" />
        </div>
      </li>

      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/pizza-mobile.png     280w,
              ./images/favorites/pizza-mobile@2x.png  560w,
              ./images/favorites/pizza-tablet.png     336w,
              ./images/favorites/pizza-tablet@2x.png  672w,
              ./images/favorites/pizza-desktop.png    395w,
              ./images/favorites/pizza-desktop@2x.png 790w
            "
            sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, (min-width: 480px) 280px, 100vw "
            src="./images/favorites/pizza-mobile.png"
            alt="Піцца"
          />
        </div>
      </li>

      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/chicken-tablet.png     336w,
              ./images/favorites/chicken-tablet@2x.png  672w,
              ./images/favorites/chicken-desktop.png    395w,
              ./images/favorites/chicken-desktop@2x.png 790w
            "
            sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, 100vw "
            src="./images/favorites/chicken-tablet.png"
            alt="Страва з куркою"
          />
        </div>
      </li>

      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/salat-tablet.png     336w,
              ./images/favorites/salat-tablet@2x.png  672w,
              ./images/favorites/salat-desktop.png    395w,
              ./images/favorites/salat-desktop@2x.png 790w
            "
            sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, 100vw "
            src="./images/favorites/salat-tablet.png"
            alt="Салат"
          />
        </div>
      </li>

      <li class="favorites__item">
        <div class="favorites__thumb">
          <img
            class="favorites__dish border"
            loading="lazy"
            srcset="
              ./images/favorites/borshch-tablet.png     336w,
              ./images/favorites/borshch-tablet@2x.png  672w,
              ./images/favorites/borshch-desktop.png    395w,
              ./images/favorites/borshch-desktop@2x.png 790w
            "
            sizes="(min-width: 1200px) 395px, (min-width: 768px) 336px, 100vw "
            src="./images/favorites/borshch-tablet.png"
            alt="Борщ"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
