<!-- footer -->
<footer class="footer">
    <div class="footer-container">
    <!--Logotype-->
        <div class="footer-container-logo">
            <a class="footer-logo" href="/src/index.html">
                <picture class="footer-logo-picture">
                    <source media="(min-width: 3220px)" srcset="/src/images/logo.png 1x, /src/images/logo.png 2x">
                    <img class="" src="/src/images/logo.png" alt="FoodSta" width="52px"/>
                </picture>
            </a>
        </div>
        <div class="footer-menu">
            <ul class="footer-menu-list">
                <li class="footer-menu-item"><a class="" href="#"></a>Home</li>
                <li class="footer-menu-item"><a class="" href="#"></a>About</li>
                <li class="footer-menu-item"><a class="" href="#"></a>Service</li>
                <li class="footer-menu-item"><a class="" href="#"></a>Menu</li>
                <li class="footer-menu-item"><a class="" href="#"></a>Contact</li>
            </ul> 
         </div>
         <div class="join-container" contenteditable="line">
            <form class="" autocomplete="off">
                <h2 class="">Subscribe</h2>  
            <div class="footer-mailing-wrapper">
                <input class="footer-sub" type="email" name="name" id="mail" placeholder="E-mail"/>
                <button class="button" type="submit">
                </button>
            </div>
            <div class="">
                <span class=""></span> 
                By subscribing you agree to with our Privacy Policy 
                <a class="" href=""><span class="">Privacy Policy</span></a>
            </div>
            <div class="">
                <!--adress-->
                <address class="">
                    <li class="" id="contacts"><a class="" href="" rel="noopener noreferrer nofollow" target="_blank"></a></li>
                    <ul class="">
                        <li class=""><a class="" href="">Privacy Policy</a></li>
                        <li class=""><a class="" href="">Terms of Service</a></li>
                        <li class=""><a class="" href="">Cookies Settings</a></li>
                    </ul>
                </address>
            </div> 
            <div>
                <h3>2022 FoodSta. All right reserved.</h3>
            </div>     
        </div>
    </div>
</footer>
