<!-- footer -->
<footer class="footer">
    <div class="footer-container container">
        <div class="footer-conteiner-desc">
                <!--Logotype-->
                    <nav class="footer-nav">
                         <div class="footer-nav-mob">
                            <a class="footer-logo" href="/src/index.html">
                                <picture class="footer-logo-picture">
                                    <source media="(min-width: 3220px)" srcset="/src/images/logo.png 1x, /src/images/logo.png 2x">
                                    <img class="" src="/src/images/logo.png" alt="FoodSta" width="52px"/>
                                </picture>
                            </a>
                            <div class="footer-menu">
                                <ul class="footer-menu-list">
                                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="#">Home</a></li>
                                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="#">About</a></li>
                                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="#">Service</a></li>
                                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="#">Menu</a></li>
                                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="#">Contact</a></li>
                                </ul> 
                            </div>
                        </div>
                    </nav>     
                <div class="footer-adress-container"></div>
                    <div class="footer-join-conteiner" contenteditable="line">
                        <form class="" autocomplete="off"> 
                            <div class="footer-mailing-wrapper">
                                <h2 class="footer-join-title">Subscribe</h2> 
                                <div class="footer-sub-conteiner">
                                    <input class="footer-sub" type="email" name="name" id="mail" placeholder="Enter your email"/>
                                <button class="footer-button" type="submit">Subscribe</button>
                                </div>
                            </div>
                            <div class="sub-privacy-policy">
                                <span class="sub-privacy-policy-text">By subscribing you agree to with our</span> 
                                <a class="sub-privacy-policy-link" href=""><span class="">Privacy Policy</span></a>
                            </div> 
                        </form>   
                    </div>
        </div>       
                        <!--adress-->
                        <div class="footer-adress-reserved">
                            <address class="footer-adress">
                                <ul class="footer-adress-list">
                                    <li class="footer-adress-item"><a class="footer-adress-item-link" href="">Privacy Policy</a></li>
                                    <li class="footer-adress-item"><a class="footer-adress-item-link" href="">Terms of Service</a></li>
                                    <li class="footer-adress-item"><a class="footer-adress-item-link" href="">Cookies Settings</a></li>
                                </ul>
                            </address>
                                    <p class="footer-reserved">2022 FoodSta. All right reserved.</p> 
                        </div>   
                </div>
        </div>
    </div>
</footer>
