<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="./index.html" class="header__logo"
        ><img src="./images/logo.png" alt="site logo"
      /></a>
      <div class="header__burger">
        <span></span>
      </div>
      <nav class="header__menu">
        <ul class="header__list lists">
          <li class="header__item">
            <a href="#header" class="header__link"></a>Header
          </li>
          <li class="header__item"><a href="#hero" class="header__link"></a>Hero</li>
          <li class="header__item">
            <a href="#offerings" class="header__link"></a>Offerings
          </li>
          <li class="header__item">
            <a href="#favorites" class="header__link"></a>Favorites
          </li>
          <li class="header__item">
            <a href="#customers-say" class="header__link"></a>Customers Say
          </li>
          <li class="header__subscribe">
            <button type="button" class="header-btn-subscribe">Subscribe</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
