<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="./index.html" class="header__logo">
        <picture>
          <sources
            srcset="
            ./images/logo.png    1x,
            ./images/logo@2x.png 2x
          "
          />
          <img src="./images/logo.png" alt="site-logo" />
        </picture>

        <!-- <img src="./images/logo.png" alt="site logo" /> -->
      </a>

      <button type="button" class="menu-btn js-open-menu" data-menu-button>
        <svg class="menu-icon-open" aria-label="mobile menu opener">
          <use href="./images/icons.svg#icon-menu-open"></use>
        </svg>
      </button>
      <nav class="menu-container js-menu-container">
        <ul class="header__list lists">
          <li class="header__item">
            <a href="#header" class="header__link link">Header</a>
          </li>
          <li class="header__item">
            <a href="#hero" class="header__link link">Hero</a>
          </li>
          <li class="header__item">
            <a href="#offerings" class="header__link link">Offerings</a>
          </li>
          <li class="header__item">
            <a href="#favorites" class="header__link link">Favorites</a>
          </li>
          <li class="header__item">
            <a href="#customers-say" class="header__link link">Customers Say</a>
          </li>
          <li class="header__subscribe">
            <button
              type="button"
              class="header-btn-subscribe hero-button"
              data-modal-open
            >
              Order Now
            </button>
          </li>
        </ul>
        <button
          type="button"
          class="menu-btn js-close-menu"
          data-menu-button
        ></button>
      </nav>
    </div>
  </div>
</header>
