<section class="hero container">
  <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
  <p class="hero__pretitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros
    dolor interdum nulla, ut commodo diam libero vitae erat.
  </p>
  <button type="button" class="hero__btn btn">Order Now</button>
  <ul class="hero__list lists">
    <li class="hero__item">
      <img src="./images/hero/meatballs-tablet.png" alt="meetballs" />
      <!-- <svg class="hero__arow-prew" width="20" haight="12">
        <use href="./images/icons.svg#icon-arrow-prev"></use>
      </svg>
      <svg class="hero__arow-next" width="20" haight="12">
        <use href="./images/icons.svg#icon-arrow-next"></use>
      </svg> -->
    </li>
    <li class="hero__item">
      <img src="./images/hero/chris-ralston-tablet.png" alt="meetballs" />
      <!-- <svg class="hero__arow-prew" width="20" haight="12">
        <use href="./images/icons.svg#icon-arrow-prev"></use>
      </svg>
      <svg class="hero__arow-next" width="20" haight="12">
        <use href="./images/icons.svg#icon-arrow-next"></use>
      </svg> -->
    </li>
    <li class="hero__item">
      <img class="img" src="./images/hero/cezar-tablet.png" alt="meetballs"  />
      <!-- <svg
        class="hero__arow-prew"
        width="20"
        haight="12"
      >
        <use href="./images/icons.svg#icon-arrow-prev"></use>
      </svg>
      <svg class="hero__arow-next" width="20" haight="12">
        <use href="./images/icons.svg#icon-arrow-next"></use>
      </svg> -->
    </li>
  </ul>
  <ul class="hero__btn-list lists">
    <li>
      <button type="button" class="hero__btn-prew">
        <svg class="hero__arow-prew" width="20" haight="12">
          <use href="./images/icons.svg#icon-arrow-prev"></use>
        </svg>
      </button>
    </li>
    <li>
      <button type="button" class="hero__btn-next">
        <svg  class="hero__arow-next" width="20" haight="12">
          <use href="./images/icons.svg#icon-arrow-next"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
