<section class="subscribe">
    <div class="container">
      <div class="subscribe__content">
      <div class="subscribe__img">
     
<picture class="img__banana">
  <source
srcset=" ./images/subscribe/banan-desktop.png,
./images/subscribe/banan-desktop@2x.png 2x"
media="(min-width:1280px)"/>

  <source
srcset="./images/subscribe/banan-tablet.png,
./images/subscribe/banan-tablet@2x.png 2x"
media="(min-width:768px)">
<source
srcset="./images/subscribe/banan-mobile.png  ,
./images/subscribe/banan-mobile@2x.png 2x"
media="(max-width:768px)">
<img src="./images/subscribe/banan-desktop.png" >    
      </div>
      <div class="subscribe__inform">
<h1 class="subscribe__title">Subscribe To Get Special Offers</h1>
<p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristigue.</p>
<div class="form__item">
    <input name="comit"  class="form__input" placeholder="Enter your email"></input>
    <button type="button" class="subscribe__btn btn">Subscribe</button>
  
  </div>
</div>
</div>
   </div>
</section>