.footer{
  background-color: var(--footer-background-color);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}
.footer-button {
  @include flex-center();
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  cursor: pointer;
  background-color: var(--primary-background-color);
  border: 0.854167px solid var(--border-button-color);
  border-radius: 30px;
}
.footer-mailing-wrapper input[type='email'] {
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.5;
  &::placeholder{
    color: #505050;
    // &:invalid{
    //   outline: solid 1px #ff705d;
    // }
  }
}
@include mq('mob-only') {
  .footer {
    background-image: url(../images/footer/fruts.png),
      url(../images/footer/aple.png), url(../images/footer/orenge.png);
    background-repeat: no-repeat;
    background-size: 253px 66px, 110px 116px, 104px 259px;
    background-position: bottom, left top 132px, right top;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/footer/fruts@x2.png),
          url(../images/footer/aple@x2.png), url(../images/footer/orenge@x2.png);
      }
    }
    &-button {
      margin-left: auto;
    }
    &-container {
      padding: 60px 20px;
      max-width: 320px;
      display: block;
      align-items: center;
      justify-content: center;
    }
    &-logo {
      display: block;
      margin-right: 81px;
    }
    &-nav-mob {
      display: flex;
    }
    &-menu {
      @include flex-center($jc: flex-end);
      
    }
    &-menu-list {
      list-style: none;
    }
    &-menu-item {
      line-height: 1.14;
      cursor: pointer;
    }
    &-menu-item:not(:last-child) {
      margin-bottom: 20px;
    }
    &-menu-item-link {
      text-decoration: none;
      outline: none;
      line-height: 1.14;
      text-align: center;
      color: var(--border-button-color);
    }
    &-adress {
      display: flex;
      margin-top: 60px;
    }
    &-adress-list {
      list-style: none;
      @include flex-center();
    }
    &-adress-item:not(:last-child) {
      margin-right: 32px;
    }
    &-adress-item-link {
      outline: none;
      font-style: normal;
      font-size: 10px;
      line-height: 1.2;
      text-decoration-line: underline;
      color: var(--border-button-color);
    }
    &-mailing-wrapper {
      margin-top: 40px;
    }
    &-join-title {
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 12px;
    }
    &-sub {
      width: 100%;
      height: 42px;
      border: 0.854167px solid var(--secondary-background-color);
      border-radius: 30px;
    }
    &-reserved {
      @include flex-center();
      margin-top: 40px;
      font-style: normal;
      font-size: 10px;
      line-height: 1.2;
    }
  }
  .placeholder {
    margin-left: 12px;
  }
  .sub-privacy-policy {
    margin-top: 20px;
    &-text {
      font-size: 10px;
      line-height: 1.2;
    }
    &-link {
      font-style: normal;
      font-size: 10px;
      line-height: 1.2;
      color: var(--border-button-color);
    }
  }
  .footer-mailing-wrapper input[type='email'] {
    margin-bottom: 20px;
  }
}
@include mq('tab-only') {
  .footer {
    background-image: url(../images/footer/fruts-tablet.png),
      url(../images/footer/orenge-tablet.png);
    background-repeat: no-repeat;
    background-size: 785px 506px, 203px 365px;
    background-position: bottom, right top;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/footer/fruts-tablet@2x.png),
          url(../images/footer/orenge-tablet@2x.png);
      }
    }
    &-container {
      padding: 100px 33px;
      max-width: 768px;
      display: block;
      align-items: center;
      justify-content: center;
    }
    &-logo {
      display: block;
      margin-right: auto;
    }
    &-nav-mob {
      display: flex;
      align-items: center;
    }
    &-menu-list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      margin-right: none;
      margin-top: 4px;
    }
    &-menu-item:not(:last-child) {
      margin-right: 28px;
    }
    &-menu-item:last-child {
      margin-right: 200px;
    }
    &-menu-item-link {
      text-decoration: none;
      outline: none;
      font-style: normal;
      line-height: 1.14;
      text-align: center;
      color: var(--border-button-color);
    }
    &-join-conteiner {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
    &-join-title {
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 12px;
    }
    &-sub {
      width: 279px;
      height: 42px;
      border: 0.854167px solid var(--secondary-background-color);
      border-radius: 30px;
      margin-right: 13px;
    }
    &-sub-conteiner {
      display: flex;
      align-items: center;
      height: 42px;
      margin-bottom: 20px;
    }
    &-adress {
      display: flex;
      margin-top: 100px;
    }
    &-adress-list {
      list-style: none;
      @include flex-center();
    }
    &-adress-item:not(:last-child) {
      margin-right: 20px;
    }
    &-adress-item-link {
      outline: none;
      font-style: normal;
      font-size: 12px;
      line-height: 1.17;
      text-decoration-line: underline;
      color: var(--border-button-color);
    }
    &-adress-reserved {
      @include flex-center($ai: flex-end, $jc: space-between);
    }
    &-reserved {
      @include flex-center();
      font-style: normal;
      font-size: 12px;
      line-height: 1.17;}
      .sub-privacy-policy{
        margin-top: 12px;
        &-text {
          font-size: 12px;
          line-height: 1.17;
          ;
        }
        &-link{
          font-style: normal;
          font-size: 12px;
          line-height: 1.17;
          color: var(--border-button-color);
        }
      }
}
}
 @include mq('desk') {
      .footer {
        background-image: url(../images/footer/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          & {
            background-image: url(../images/footer/bg-desktop@2x.png);
          }
        }
        &-nav {
          flex-grow: 1;
        }
        &-container {
          max-width: 1280px;
          justify-content: center;
          align-items: center;
          padding-bottom: 118px;
          padding-top: 118px;
          display: block;
        }
        &-conteiner-desc {
          @include flex-center($ai: flex-start, $jc: space-between);
        }
        &-logo {
          display: flex;
        }
        &-nav-mob {
          @include flex-center($jc: space-between);
        }
        &-button {
          margin-right: 0;
        }
        &-menu-list {
          list-style: none;
          display: flex;
          justify-content: flex-end;
        }
        &-menu-item:not(:last-child) {
          margin-right: 28px;
        }
        &-menu-item:last-child {
          margin-right: 200px;
        }
        &-menu-item-link {
          text-decoration: none;
          outline: none;
          font-style: normal;
          line-height: 1.14;
          text-align: center;
          color: var(--border-button-color);
        }
        &-join-conteiner {
          display: flex;
          flex-direction: column;
        }
        &-join-title {
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 1.2;
        }
        &-sub {
          width: 279px;
          height: 42px;
          border: 0.854167px solid var(--secondary-background-color);
          border-radius: 30px;
          margin-right: 13px;
        }
        &-sub-conteiner {
          display: flex;
          align-items: center;
          height: 42px;
        }
        &-adress {
          display: flex;
          margin-top: 100px;
        }
        &-adress-list {
          list-style: none;
          @include flex-center();
        }
        &-adress-item:not(:last-child) {
          margin-right: 20px;
        }
        &-adress-item-link {
          outline: none;
          font-style: normal;
          font-size: 12px;
          line-height: 1.17;
          text-decoration-line: underline;
          color: var(--border-button-color);
        }
        &-adress-reserved {
          @include flex-center($ai: flex-end, $jc: space-between);
        }
        &-reserved {
          @include flex-center();
          font-style: normal;
          font-size: 12px;
          line-height: 1.17;
        }
      }
      .sub-privacy-policy {
        margin-top: 12px;
        &-text {
          font-size: 12px;
          line-height: 1.17;
        }
        &-link {
          font-style: normal;
          font-size: 12px;
          line-height: 1.17;
          color: var(--border-button-color);
        }
      }
 }