// * {
// 	outline: 1px solid #b0c4de;
// }

.header {
	padding: 10px 0;
}

.header__body {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// outline: 1px solid #b0c4de;
}

.header__logo {
	display: flex;
	// outline: 1px solid #b0c4de;
}

.header__burger {
	display: none;
}

.header__menu {
	// outline: 1px solid #b0c4de;
}

.header__list {
	// outline: 1px solid #b0c4de;
	display: flex;
	font-style: normal;
	font-weight: 400;
	line-height: 1.14;

	@media screen and (max-width: (768px - 0.02)) {
			display: none;
		}

}

.header__item {
	// outline: 1px solid #b0c4de;
	display: flex;
	align-items: center;
}

.header__item:not(:first-child) {
	margin-left: 28px;
}

.header__link {
	// outline: 1px solid #b0c4de;
	display: block;
	padding: 28px 0;
	color: inherit;

}

.header__link:hover,
.header__link:focus {
	border-color: var(--button-green-color);
}

.header__subscribe {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.header-btn-subscribe {
	// outline: 1px solid #b0c4de;
	display: block;
	width: 98px;
	height: 32px;
	background-color: var(--button-green-color);
	border-radius: 30px;
}

.header-btn-subscribe:hover,
.header-btn-subscribe:focus {
	background-color: var(--button-hover-color);
}

.menu-btn {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	width: 28px;
	height: 28px;
	transform: translateY(-50%);

	@media screen and (min-width: 768px) {
			display: none;
		}
}

.menu-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	fill: var(--border-button-color);
	background-color: var(--primary-background-color);
	// background-color: transparent;

}

.menu-container {

}


