.header {
  padding: 10px 0;
  background-color: var(--footer-background-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  display: flex;
}

.header__list {
  display: flex;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  width: 100%;

  @include mq('mob-only') {
    flex-direction: column;
  }
}

.header__item {
  display: flex;
  align-items: center;
}

.header__item:not(:first-child) {
  @include mq('tab') {
    margin-left: 28px;
  }
}

.header__link {
  display: block;
  padding: 28px 0px;
  width: 100%;
  color: #000000;
  transition: opacity 250ms var(--cubic-bezer);

  @include mq('mob-only') {
    padding: 16px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.header__link:focus,
.header__link:hover {
  transition: color 250ms var(--cubic-bezer);
  @include mq('mob-only') {
    background-color: var(--button-green-color);
    transition: background-color 250ms var(--cubic-bezer);
  }

  @include mq('tab') {
    color: var(--button-green-color);
  }
}

.header__subscribe {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.header__subscribe {
  @include mq('mob-only') {
    display: none;
  }
}

.header-btn-subscribe {
  display: block;
  width: 98px;
  height: 32px;
  background-color: var(--button-green-color);
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  transition: background-color 250ms var(--cubic-bezer);
}

.header-btn-subscribe:hover,
.header-btn-subscribe:focus {
  background-color: var(--button-hover-color);
}

.menu-btn {
  @include mq('tab') {
    display: none;
  }
}

.menu-btn:active .menu-icon-open {
  fill: var(--secondary-background-color);
}

.menu-icon-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  fill: var(--border-button-color);
  background-color: var(--primary-background-color);
}

.js-close-menu {
  top: 4px;
  right: 4px;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill: currentColor;
  background-image: url(../images/menu-icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-container {
  display: flex;

  @include mq('mob-only') {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--primary-background-color);
    border-radius: 30px 0px 30px 30px;
    overflow: hidden;
    opacity: 0;

    transition: opacity 250ms var(--cubic-bezer);
  }
}

.menu-container.is-open {
  opacity: 1;
}
