// * {
// 	outline: 1px solid #b0c4de;
// }

.header-section {
	// padding: 10px 0;
}

.header {
	// width: 100%;
	outline: 1px solid #b0c4de;
	// position: relative;
	height: 72px;
	width: 100%;
}

.header__body {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: 1px solid #b0c4de;
}

.header__logo {
	display: flex;
	outline: 1px solid #b0c4de;
}

.header__burger {
	display: none;
}

@media (max-width: 767px){
	.header__burger {
		outline: 1px solid #b0c4de;
		display: block;
		position: relative;
		width: 28px;
		height: 28px;
}
}

.header__burger span {
	position: absolute;
	background-color: var(--border-button-color);
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;

}

.header__burger::before,
.header__burger::after {
	content: '';
	background-color: var(--border-button-color);
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__menu {
	outline: 1px solid #b0c4de;
}

.header__list {
	outline: 1px solid #b0c4de;
	display: flex;
}

.header__item {
	outline: 1px solid #b0c4de;
	display: flex;
	align-items: center;
}

.header__item:not(:first-child) {
	margin-left: 28px;
}

.header__link {
	outline: 1px solid #b0c4de;
	// align-items: center;
	display: block;
	padding: 28px 0;
}

.header__subscribe {
	margin-left: 30px;
display: flex;
align-items: center;
	// display: block;
	// 	width: 98px;
}

.header-btn-subscribe {
	outline: 1px solid #b0c4de;
	display: block;
	width: 98px;
	height: 32px;
	background-color: var(--button-green-color);
	border-radius: 30px;
}
