.hero {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  overflow: hidden;

  @include mq('tab-only') {
    padding-top: 60px;
    padding-bottom: 173px;
    position: relative;
    top: 0;
    left: 0;
  }
  @include mq('desk') {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  min-width: 280px;
  margin-bottom: 28px;
  @include mq('tab') {
    font-size: 42px;
    line-height: 1.2;
    max-width: 537px;
  }
  @include mq('desk') {
    font-size: 48px;
    max-width: 502px;
  }
}

.hero__pretitle {
  line-height: 1.5;
  margin-bottom: 28px;
  @include mq('tab') {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  @include mq('desk') {
    max-width: 502px;
  }
}

.hero__btn {
  width: 98px;
  height: 32px;
  background-color: var(--button-green-color);
  transition: background-color 250ms var(--cubic-bezer);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--button-hover-color);
}

.hero-slider__wrap {
  @include mq('tab') {
    position: absolute;
    right: 40px;
    top: 149px;
  }
  @include mq('desk') {
    position: static;
    margin-right: 14px;
  }
}

.hero-slider {
  display: none;
  overflow: visible;
  @include mq('tab') {
    width: 320px;
    height: 320px;
    display: flex;
  }
  @include mq('desk') {
    width: 580px;
    height: 580px;
  }
}

.hero__item {
  width: 100%;
  height: 100%;
  border: 14px solid var(--secondary-background-color);
  border-radius: 50%;
  @include mq('desk') {
    border: 26px solid var(--secondary-background-color);
  }
}

.hero__img {
  width: 100%;
}

.hero__arow-next,
.hero__arow-prew {
  width: 29px;
  height: 17px;
  fill: var(--primary-text-color);
}

.swiper-button-next {
  @include mq('tab') {
    width: 34px;
    height: 28px;
    right: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background: #ffffff;
  }
  @include mq('desk') {
    width: 48px;
    height: 40px;
    border-radius: 8px;
    background: #fefefe;
  }
}

.swiper-button-prev {
  @include mq('tab') {
    width: 34px;
    height: 28px;
    left: -10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background: #ffffff;
  }
  @include mq('desk') {
    width: 48px;
    height: 40px;
    border-radius: 8px;
    background: #fefefe;
  }
}

.swiper-button-prev::after {
  content: '';
}
.swiper-button-next::after {
  content: '';
}
