.hero {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  max-width: 280px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
    max-width: 537px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    max-width: 502px;
  }
}

.hero__pretitle {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 266px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__btn {
  width: 98px;
  height: 32px;
  background-color: var(--button-green-color);
}

.hero__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute;
    left: 422px;
    top: 163px;
    @media screen and (min-width: 1280px) {
      left: 670px;
      top: 14px;
    }
  }

  .hero__item {
    position: absolute;
    width: 292px;
    height: 292px;
    border: 14px solid var(--secondary-background-color);
    border-radius: 50%;
  }
}
