.hero {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  max-width: 280px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
    max-width: 537px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    max-width: 502px;
  }
}

.hero__pretitle {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 266px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 502px;
  }
}

.hero__btn {
  width: 98px;
  height: 32px;
  background-color: var(--button-green-color);
}

.hero__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute;
    left: 408px;
    top: 149px;
  }
  @media screen and (min-width: 1280px) {
    left: 670px;
    top: 14px;
  }
}

.hero__item {
  position: absolute;
  width: 320px;
  height: 320px;
  border: 14px solid var(--secondary-background-color);
  border-radius: 50%;
  @media screen and (min-width: 1280px) {
    width: 580px;
    height: 580px;
    border: 26px solid var(--secondary-background-color);
  }
}

.hero__btn-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero__btn-next {
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 28px;
    position: absolute;
    top: 295px;
    left: 702px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
    position: absolute;
    top: 280px;
    left: 1216px;
    border-radius: 8px;
    background: #FEFEFE;
  }
}

.hero__btn-prew {
  @media screen and (min-width: 768px) {
    position: absolute;
    width: 34px;
    height: 28px;
    top: 295px;
    left: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 40px;
    position: absolute;
    top: 280px;
    left: 656px;
    border-radius: 8px;
    background: #FEFEFE;
  }
}

